/*

backgrounds

normal: #1b2a32
lighter: #22343c
border: #0f171c
lighter border: #485764

font: #e9ecef
font muted: #adbbc4

tree selected: #324f61

*/

.k-block, .k-widget {
    background-color: #1b2a32;
}

.vui-vertical-panel.k-splitter .vui-panel .panel-inner .panel-content, .vui-vertical-panel.k-splitter .vui-panel .vui-popup .panel-content {
    background-color: #1b2a32;
}

.vui-primary-tabs .vui-tab-content {
    background-color: #1b2a32;
}

center-panel.vui-panel .panel-inner, #center-pane.vui-panel .panel-inner {
    background-color: #1b2a32;
}

center-panel .nav.nav-tabs, #center-pane .nav.nav-tabs {
    background-color: #1b2a32;
}

center-panel .outer-tab-content, #center-pane .outer-tab-content {
    background-color: #1b2a32;
}

#center-pane.vui-panel .center-pane-container {
    background-color: #1b2a32;
}

.vx-portlets .col .vx-portlet {
    background: #22343c;
    border: 1px solid #0f171c;
}

/*

foreground

*/

.titlebar .object>[role=titlebar-title] {
    color: #e9ecef;
}

.modal-dialog .modal-content[level=details] .nav.nav-tabs>LI.active>A, .modal-dialog .modal-content[level=first] .nav.nav-tabs>LI.active>A, .modal-dialog .vx-tab-wrapper[level=details] .nav.nav-tabs>LI.active>A, .modal-dialog .vx-tab-wrapper[level=first] .nav.nav-tabs>LI.active>A, .modal-dialog .wizard-modal-content[level=details] .nav.nav-tabs>LI.active>A, .modal-dialog .wizard-modal-content[level=first] .nav.nav-tabs>LI.active>A, .modal-dialog [vx-navi-tab-headers][level=details] .nav.nav-tabs>LI.active>A, .modal-dialog [vx-navi-tab-headers][level=first] .nav.nav-tabs>LI.active>A, .vui-panel .modal-content[level=details] .nav.nav-tabs>LI.active>A, .vui-panel .modal-content[level=first] .nav.nav-tabs>LI.active>A, .vui-panel .vx-tab-wrapper[level=details] .nav.nav-tabs>LI.active>A, .vui-panel .vx-tab-wrapper[level=first] .nav.nav-tabs>LI.active>A, .vui-panel .wizard-modal-content[level=details] .nav.nav-tabs>LI.active>A, .vui-panel .wizard-modal-content[level=first] .nav.nav-tabs>LI.active>A, .vui-panel [vx-navi-tab-headers][level=details] .nav.nav-tabs>LI.active>A, .vui-panel [vx-navi-tab-headers][level=first] .nav.nav-tabs>LI.active>A, .vui-wizard .modal-content[level=details] .nav.nav-tabs>LI.active>A, .vui-wizard .modal-content[level=first] .nav.nav-tabs>LI.active>A, .vui-wizard .vx-tab-wrapper[level=details] .nav.nav-tabs>LI.active>A, .vui-wizard .vx-tab-wrapper[level=first] .nav.nav-tabs>LI.active>A, .vui-wizard .wizard-modal-content[level=details] .nav.nav-tabs>LI.active>A, .vui-wizard .wizard-modal-content[level=first] .nav.nav-tabs>LI.active>A, .vui-wizard [vx-navi-tab-headers][level=details] .nav.nav-tabs>LI.active>A, .vui-wizard [vx-navi-tab-headers][level=first] .nav.nav-tabs>LI.active>A {
    color: #e9ecef;
}

.modal-dialog .modal-content[level=details] .nav.nav-tabs, .modal-dialog .modal-content[level=first] .nav.nav-tabs, .modal-dialog .vx-tab-wrapper[level=details] .nav.nav-tabs, .modal-dialog .vx-tab-wrapper[level=first] .nav.nav-tabs, .modal-dialog .wizard-modal-content[level=details] .nav.nav-tabs, .modal-dialog .wizard-modal-content[level=first] .nav.nav-tabs, .modal-dialog [vx-navi-tab-headers][level=details] .nav.nav-tabs, .modal-dialog [vx-navi-tab-headers][level=first] .nav.nav-tabs, .vui-panel .modal-content[level=details] .nav.nav-tabs, .vui-panel .modal-content[level=first] .nav.nav-tabs, .vui-panel .vx-tab-wrapper[level=details] .nav.nav-tabs, .vui-panel .vx-tab-wrapper[level=first] .nav.nav-tabs, .vui-panel .wizard-modal-content[level=details] .nav.nav-tabs, .vui-panel .wizard-modal-content[level=first] .nav.nav-tabs, .vui-panel [vx-navi-tab-headers][level=details] .nav.nav-tabs, .vui-panel [vx-navi-tab-headers][level=first] .nav.nav-tabs, .vui-wizard .modal-content[level=details] .nav.nav-tabs, .vui-wizard .modal-content[level=first] .nav.nav-tabs, .vui-wizard .vx-tab-wrapper[level=details] .nav.nav-tabs, .vui-wizard .vx-tab-wrapper[level=first] .nav.nav-tabs, .vui-wizard .wizard-modal-content[level=details] .nav.nav-tabs, .vui-wizard .wizard-modal-content[level=first] .nav.nav-tabs, .vui-wizard [vx-navi-tab-headers][level=details] .nav.nav-tabs, .vui-wizard [vx-navi-tab-headers][level=first] .nav.nav-tabs {
    border-bottom: 1px solid #485764;
}

.summary-items-list {
    color: #e9ecef;
}

.vx-portlets .col .vx-portlet .portlet-titlebar .titlebar-text {
    color: #e9ecef;
}

.modal-dialog .modal-content[level=details] .nav.nav-tabs>LI>A, .modal-dialog .modal-content[level=first] .nav.nav-tabs>LI>A, .modal-dialog .vx-tab-wrapper[level=details] .nav.nav-tabs>LI>A, .modal-dialog .vx-tab-wrapper[level=first] .nav.nav-tabs>LI>A, .modal-dialog .wizard-modal-content[level=details] .nav.nav-tabs>LI>A, .modal-dialog .wizard-modal-content[level=first] .nav.nav-tabs>LI>A, .modal-dialog [vx-navi-tab-headers][level=details] .nav.nav-tabs>LI>A, .modal-dialog [vx-navi-tab-headers][level=first] .nav.nav-tabs>LI>A, .vui-panel .modal-content[level=details] .nav.nav-tabs>LI>A, .vui-panel .modal-content[level=first] .nav.nav-tabs>LI>A, .vui-panel .vx-tab-wrapper[level=details] .nav.nav-tabs>LI>A, .vui-panel .vx-tab-wrapper[level=first] .nav.nav-tabs>LI>A, .vui-panel .wizard-modal-content[level=details] .nav.nav-tabs>LI>A, .vui-panel .wizard-modal-content[level=first] .nav.nav-tabs>LI>A, .vui-panel [vx-navi-tab-headers][level=details] .nav.nav-tabs>LI>A, .vui-panel [vx-navi-tab-headers][level=first] .nav.nav-tabs>LI>A, .vui-wizard .modal-content[level=details] .nav.nav-tabs>LI>A, .vui-wizard .modal-content[level=first] .nav.nav-tabs>LI>A, .vui-wizard .vx-tab-wrapper[level=details] .nav.nav-tabs>LI>A, .vui-wizard .vx-tab-wrapper[level=first] .nav.nav-tabs>LI>A, .vui-wizard .wizard-modal-content[level=details] .nav.nav-tabs>LI>A, .vui-wizard .wizard-modal-content[level=first] .nav.nav-tabs>LI>A, .vui-wizard [vx-navi-tab-headers][level=details] .nav.nav-tabs>LI>A, .vui-wizard [vx-navi-tab-headers][level=first] .nav.nav-tabs>LI>A {
    color: #adbbc4;
}

LEFT-PANEL .vui-panel OBJECT-NAVIGATOR .panel-inner .object-navigator .nav.nav-tabs {
    border-bottom: 1px solid #485764;
}

div[vui-tree-view] .k-in {
    color: #adbbc4;
}

.k-splitter .k-splitbar.k-splitbar-horizontal {
    border-left-color: #485764;
}

settings-view-header .settingsViewHeader .settingsBlockTitle {
    color: #e9ecef;
}

div.settingsBlockHeader .settingsBlockTitle {
    color: #e9ecef;
}

.vui-action-bar .vui-action-label {
    color: #e9ecef;
}

.settingsBlockTitle {
    color: #e9ecef;
}

/*

bottom thingy

*/

bottom-panel #bottom-panel vsc-recent-tasks-and-alarms-view clr-tabs ul.nav {
    background-color: #22343c;
}

.nav {
    box-shadow: inset 0 -1px 0 #485764;
}

.nav .nav-link.active {
    color: #e9ecef;
}

.k-splitter .k-splitbar.k-splitbar-vertical {
    border-bottom-color: #485764;
}

.vui-datagrid.k-grid.k-widget .k-pager-wrap.k-grid-pager, div[vui-datagrid] .k-grid.k-widget .k-pager-wrap.k-grid-pager {
    background-color: #22343c;
}

bottom-panel .task-status-select {
    background-color: #22343c;
}